# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
dist_*
electron/resources/webkit-1616
# electron/resources/playwright
build
.webpack
node_modules
.idea
.playwright
*.iml
yarn-error.log
*.lock
test-results
/playwright-report/
/blob-report/
/playwright/.cache/

